header
    .header__logo LOGO
    .header__menu
        ul.header__menu-list
            li.header__menu-link.header__menu-link-active
                a(href="#") About us
            li.header__menu-link
                a(href="#") Disclaimer
            li.header__menu-link
                a(href="#") Privat policy
            li.header__menu-link
                a(href="#") Terms&Conditions
            li.header__menu-link
                a(href="#") Contact
    .header__user
        .header__user-search
            img(src="../../../../img/header/search.svg")
        .header__user-user
            img(src="../../../../img/header/user.svg")
        .header__user-lang
            span EN
            img(src="../../../../img/header/down_arr.svg")

