// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// CSS-файлы библиотек
@import "vendor/libs";

// Основное
@import "base/fonts";
@import "base/general";

// БЭМ-блоки
@import "../blocks/modules/modules";

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: #181818;
  background: $main_bg;
}

a {
  text-decoration: none;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 320px;
}
.container {
  margin: 0 auto;
  max-width: 1230px;
}
